@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  .light {
    --background: 0 0% 98%;
    --foreground: 222.2 14% 11%;

    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 210 40% 6%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 14% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 14% 11%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 222.2 14% 11%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 222.2 14% 11%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 217.2 91.2% 59.8%;
    --radius: 1.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 222.2 84% 4.9%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 0 0% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 217.2 91.2% 59.8%;
    --radius: 1.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  :root,
  .light {
    --theme-bg: hsl(var(--primary) / 0.05);
    --theme-card: hsl(var(--primary) / 0.05);
    --theme-border: hsl(var(--primary) / 0.1);
    --theme-accent: hsl(var(--primary) / 0.1);
    --theme-accent-foreground: hsl(var(--foreground));
    --theme-muted: hsl(var(--primary) / 0.2);
    --theme-muted-foreground: hsl(var(--foreground) / 0.7);
    --theme-secondary: hsl(var(--primary) / 0.15);
    --theme-secondary-foreground: hsl(var(--foreground));
  }

  .dark {
    --theme-bg: hsl(var(--primary) / 0.05);
    --theme-card: hsl(var(--primary) / 0.05);
    --theme-border: hsl(var(--primary) / 0.1);
    --theme-accent: hsl(var(--primary) / 0.1);
    --theme-accent-foreground: hsl(var(--foreground));
    --theme-muted: hsl(var(--primary) / 0.2);
    --theme-muted-foreground: hsl(var(--foreground) / 0.7);
    --theme-secondary: hsl(var(--primary) / 0.15);
    --theme-secondary-foreground: hsl(var(--foreground));
  }
}
